@tailwind base;
@tailwind components;
@tailwind utilities;

/*! /////////////////////////////            */
.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: black;
  opacity: 0.4;
  
}
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 2px;
 
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.Banner-Blg-container{
 position: absolute;
 top: 20%;
 width: 100%;
}
@media only screen and (min-width:0px) and (max-width:772px){
 .Banner-Blg-container{
     top: 5%;
 }
 .swiper-slide img{
     height: 420px;
 }
}

.swiper-pagination-bullet {
 width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,80px)) !important;
 height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px)) !important;
 display: inline-block;
 border-radius: 0% !important;
 border: 1px solid black !important;
 background: var(--swiper-pagination-bullet-inactive-color,#ffffff);
 opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
 -webkit-border-radius: 0% !important;
 -moz-border-radius: 0% !important;
 -ms-border-radius: 0% !important;
 -o-border-radius: 0% !important;
} 

.swiper-pagination-bullet-active {
 opacity: var(--swiper-pagination-bullet-opacity, 1);
 background: var(--swiper-pagination-color,var(--swiper-theme-color));
 border: none;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
 bottom: 10px;
 left: 0;
 width: 100%; 

}

/*! -----------------------  banner  style  -----------------------*/


.Sub-banner-container {
  /* row-gap: 15px;
  column-gap: 15px; */
}


.sub-banner-img-container{
  overflow: hidden;
   height: 100%;
  width: 100%; 
  display: block;

  
}
.sub-banner-img-container img{
  height: 100%;
  width: 100%;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.sub-banner-img-container:hover img{
  transform: scale(1.3);
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}


